<div class="outlet-container container">
    <div class="news-outer-container row">
        <section class="news-container-section col-lg-8">
            <div class="category-news">
                <div class="heading-news-container"><span>{{ post.postTitle }}</span></div>

                <div class="news-container-highlight-news">
                    <div class="news-block-image-huge col-lg-12 col-sm-12"
                        [ngStyle]="{'background-image': 'url('+ postImagesPath + post.postId +'.jpg)'}"></div>
                    <div class="news-block-huge-text-section col-lg-12 col-sm-12">
                        <div class="author-info row">
                            <div class="author-image float-left"
                                [ngStyle]="{'background-image': 'url('+ userImagesPath + post.User.userId +'.jpg)'}">
                            </div>
                            <div class="author-description float-left">
                                <div class="author-name">{{ post.User.name }}</div>
                                <div class="author-source">{{ post.postSource }}</div>
                                <div class="author-date">{{ post.postCreated | date }}</div>
                            </div>
                        </div><br />

                        <div class="news-tags-margin-styles">
                            <mat-chip-list aria-label="Popular Hashtags">
                                <mat-chip *ngFor="let chip of post.Tags.split(',')" class="font-weight-style-medium">
                                    {{ chip }}
                                </mat-chip>
                            </mat-chip-list>
                        </div>


                        <div class="highlight-news-content content-justify">
                            {{ post.postContent }}
                        </div>
                        <div *ngIf="contentNotReceived">
                            <mat-spinner class="spinner" diameter="50" color="primary"></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-container-wide">Banner 730 x 200</div>
        </section>

        <section class="aside-section col-lg-4">
            <section class="popular-news-section">
                <div class="heading-news-container"><span>Popular News</span></div>
                <div class="news-container">
                    <div *ngIf="!popularNews">
                        <br />
                        <mat-spinner class="spinner" diameter="25" color="primary"></mat-spinner>
                    </div>
                    <div class="popular-news" *ngFor="let news of popularNews">
                        <div class="news-block-image-mini float-left"
                            [ngStyle]="{'background-image': 'url('+ postImagesPath + news.postId +'.jpg)'}"></div>
                        <div class="popular-news-text float-left" (click)="navigateToNews(news.postId)">{{ news.postContent }}</div>
                    </div>
                </div>
            </section><br/>

            <section class="popular-news-section">
                <div class="heading-news-container"><span>Older News</span></div>
                <div class="news-container">
                    <div *ngIf="!oldNews">
                        <br />
                        <mat-spinner class="spinner" diameter="25" color="primary"></mat-spinner>
                    </div>
                    <div class="popular-news" *ngFor="let news of oldNews">
                        <div class="old-block-image-mini float-left"
                            [ngStyle]="{'background-image': 'url('+ postImagesPath + news.postId +'.jpg)'}"></div>
                        <div class="popular-news-text float-left" (click)="navigateToNews(news.postId)">{{ news.postContent }}</div>
                    </div>
                </div>
            </section>

            <section class="ad-container">Banner 340 x 300</section>
        </section>
    </div>
</div>