<div class="outlet-container container">
    <div class="news-outer-container row">
        <section class="news-container-section col-lg-8">
            <div class="top-news-container">
                <div class="heading-news-container"><span>Latest News</span></div>
                <div class="news-container row">
                    <div class="news-block col-lg-4 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-4 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-4 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-4 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-4 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-4 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
            </div>

            <div class="category-news">
                <div class="heading-news-container"><span>Politics</span></div>
                <div class="news-container-highlight-news row">
                    <div class="news-block-image-huge col-lg-6 col-sm-12"></div>
                    <div class="news-block-huge-text-section col-lg-6 col-sm-12">
                        <div class="highlight-news-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                        <div class="highlight-news-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div class="read-more">Read More</div>
                    </div>
                </div>

                <div class="news-container row">
                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
            </div>

            <div class="category-news">
                <div class="heading-news-container"><span>Sports</span></div>
                <div class="news-container-highlight-news row">
                    <div class="news-block-image-huge col-lg-6 col-sm-12"></div>
                    <div class="news-block-huge-text-section col-lg-6 col-sm-12">
                        <div class="highlight-news-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                        <div class="highlight-news-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div class="read-more">Read More</div>
                    </div>
                </div>

                <div class="news-container row">
                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="news-block col-lg-3 col-sm-12">
                        <div class="news-block-image"></div>
                        <div class="news-block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="aside-section col-lg-4">
            <section class="popular-news-section">
                <div class="heading-news-container"><span>Popular News</span></div>
                <div class="news-container">
                    <div class="popular-news">
                        <div class="news-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>

                    <div class="popular-news">
                        <div class="news-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>


                    <div class="popular-news">
                        <div class="news-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>


                    <div class="popular-news">
                        <div class="news-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
            </section>

            <section class="popular-news-section">
                <div class="heading-news-container"><span>Older News</span></div>
                <div class="news-container">
                    <div class="popular-news">
                        <div class="old-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            e
                        </div>
                    </div>

                    <div class="popular-news">
                        <div class="old-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            e
                        </div>
                    </div>
                    <div class="popular-news">
                        <div class="old-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            e
                        </div>
                    </div>
                    <div class="popular-news">
                        <div class="old-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            e
                        </div>
                    </div>
                    <div class="popular-news">
                        <div class="old-block-image-mini float-left"></div>
                        <div class="popular-news-text float-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                            e
                        </div>
                    </div>
                </div>
            </section>

            <section class="ad-container">Banner 340 x 300</section>
        </section>
    </div>
</div>