<div class="outlet-container container">
    <div class="news-outer-container row">
        <section class="news-container-section col-lg-8">
            <div class="top-news-container">
                <div class="heading-news-container"><span>Latest News</span></div><br />
                <div *ngIf="!categories">
                    <mat-spinner class="spinner" diameter="50" color="primary"></mat-spinner>
                </div>

                <div class="news-container row">
                    <div class="news-block col-lg-4 col-sm-12" *ngFor="let post of latestNews; let i = index;">
                        <div class="news-block-image"
                            [ngStyle]="{'background-image': 'url('+ postImagesPath + post.postId +'.jpg)'}"></div>
                        <div class="news-block-text" (click)="navigateToNews(post.postId, post.postTitle)">{{ post.postContent }}</div>
                    </div>
                </div>
            </div>

            <div *ngIf="categories">
                <div *ngFor="let category of categories">
                    <div class="category-news" *ngIf="category.Posts.length > 0">
                        <div class="heading-news-container"><span>{{ category.categoryName }}</span></div>
                        <div *ngFor="let post of category.Posts; let i = index;">
                            <div *ngIf="i === 0">
                                <div class="news-container-highlight-news row">
                                    <div class="news-block-image-huge col-lg-6 col-sm-12"
                                        [ngStyle]="{'background-image': 'url('+ postImagesPath + post.postId +'.jpg)'}">
                                    </div>
                                    <div class="news-block-huge-text-section col-lg-6 col-sm-12">
                                        <div class="highlight-news-heading" (click)="navigateToNews(post.postId, post.postTitle)">
                                            {{ post.postTitle }}
                                        </div>
                                        <div class="highlight-news-content">{{ post.postContent }}</div>
                                        <div class="read-more" (click)="navigateToNews(post.postId, post.postTitle)">Read More</div>
                                    </div>
                                </div>
                                <div class="news-container row">
                                    <div class="news-block col-lg-3 col-sm-12"
                                        *ngFor="let categoryPosts of category.Posts| slice: 1; let j = index;">
                                        <div class="news-block-image"
                                            [ngStyle]="{'background-image': 'url('+ postImagesPath + categoryPosts.postId +'.jpg)'}">
                                        </div>
                                        <div class="news-block-text" (click)="navigateToNews(categoryPosts.postId, categoryPosts.postTitle)">
                                            {{ categoryPosts.postTitle }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="aside-section col-lg-4">
            <section class="popular-news-section">
                <div class="heading-news-container"><span>Popular News</span></div>
                <div class="news-container">
                    <div *ngIf="!popularNews">
                        <br />
                        <mat-spinner class="spinner" diameter="25" color="primary"></mat-spinner>
                    </div>
                    <div class="popular-news" *ngFor="let news of popularNews">
                        <div class="news-block-image-mini float-left"
                        [ngStyle]="{'background-image': 'url('+ postImagesPath + news.postId +'.jpg)'}"></div>
                        <div class="popular-news-text float-left" (click)="navigateToNews(news.postId, news.postTitle)">{{ news.postContent }}</div>
                    </div>
                </div>
            </section><br/>

            <section class="popular-news-section">
                <div class="heading-news-container"><span>Older News</span></div>
                <div class="news-container">
                    <div *ngIf="!oldNews">
                        <br />
                        <mat-spinner class="spinner" diameter="25" color="primary"></mat-spinner>
                    </div>
                    <div class="popular-news" *ngFor="let news of oldNews">
                        <div class="old-block-image-mini float-left"
                        [ngStyle]="{'background-image': 'url('+ postImagesPath + news.postId +'.jpg)'}"></div>
                        <div class="popular-news-text float-left" (click)="navigateToNews(news.postId, news.postTitle)">{{ news.postContent }}</div>
                    </div>
                </div>
            </section>

            <section class="ad-container">Banner 340 x 300</section>
        </section>
    </div>
</div>