<div class="outlet-container">
    <mat-card class="app-card input-card">
        <div *ngIf="error" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
        <div *ngIf="success" class="alert alert-success" role="alert">{{ successMessage }}</div>

        <div class="input-card-hello-text">
            <span class="font-weight-style">Edit post details</span>
        </div>

        <div class="news-input-field-ccontainer">
            <mat-form-field class="news-input">
                <input matInput [(ngModel)]="data.metaTitle" placeholder="Enter the meta title" />
            </mat-form-field>

            <mat-form-field class="news-input">
                <input matInput [(ngModel)]="data.metaDescription" placeholder="Enter the meta description" />
            </mat-form-field>

            <mat-form-field class="news-input">
                <input matInput [(ngModel)]="data.metaKeywords" placeholder="Enter the meta keywords" />
            </mat-form-field>

            <mat-form-field class="news-input">
                <input matInput [(ngModel)]="data.postSource" placeholder="Enter the post source" />
            </mat-form-field>

            <mat-form-field class="news-input">
                <input matInput [(ngModel)]="data.OwnerOfSource" placeholder="Enter the owner of the source" />
            </mat-form-field>
        </div>

        <div class="input-button-row">
            <div class="float-right">
                <button mat-raised-button color="primary" class="font-weight-style no-outline" matTooltip="post news"
                    (click)="editPost()">Update</button>
            </div>
        </div>
    </mat-card>
</div>