<div class="outlet-container">
    <div class="news-container">
        <app-create-news></app-create-news>
        <div *ngIf="!posts">
            <mat-spinner class="spinner" diameter="50" color="primary"></mat-spinner>
        </div>
        <div *ngIf="noDataAvailable" class="app-card alert alert-secondary" role="alert">No data available.</div>
    
        <mat-card class="app-card news-card" *ngFor="let post of posts">
            <div class="width-header">
                <mat-card-header class="float-left">
                    <div mat-card-avatar class="news-header-image" [ngStyle]="{'background-image':  'url(' + userImagesPath + post.User.userId + '.jpg)' }"></div>
                    <mat-card-title class="author-title">{{ post.User.name }}</mat-card-title>
                    <mat-card-subtitle class="author-content">{{ post.postSource }}</mat-card-subtitle>
                    <div class="clear-both"></div>
                </mat-card-header>

                <div class="like-container float-right">
                    <mat-icon class="toolbar-icon icon-favorite float-left" aria-hidden="false"
                        aria-label="Example favorite icon">
                        favorite
                    </mat-icon>
                    <div class="like-count float-left">31</div>
                </div>
            </div>

            <div class="clear-both"></div>
            <div (click)="navigateToNews(post.postId, post.postTitle)" class="news-image" [ngStyle]="{'background-image':  'url(' + postImagesPath + post.postId + '.jpg)' }"></div><br />

            <mat-card-content>
                <div class="news-heading" (click)="navigateToNews(post.postId, post.postTitle)">{{ post.postTitle }}</div><br />
                
                <mat-chip-list aria-label="Popular Hashtags">
                    <mat-chip *ngFor="let chip of post.Tags.split(',')" class="font-weight-style-medium">
                        {{ chip }}
                    </mat-chip>
                </mat-chip-list><br/>

                <div class="news-content text-justify" [innerHtml]="post.postContent">
                </div>
                
            </mat-card-content>
            <mat-card-actions>
                <button mat-button mat-raised-button color="primary" class="font-weight-style">LIKE</button>
                <button mat-button mat-raised-button color="accent" class="color-white font-weight-style">SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>