body{
    background-color: #f8f7f7a1;
}

/* toolbar - START*/
.toolbar{
    background-color: #efefef !important;
}

.toolbar-icon {
    padding: 0 14px;
    font-size: 30px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar{
    position: fixed;
    top: 0px;
    z-index: 10;
}


.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear: both;
}


.color-white{
    color: white;
}

.color-orange{
    color: orange;
}

.color-grey{
    color:#9c9394;
}

.anchor-hook{
    font-size: 12.5px;
    margin-right: 12px;
    margin-left: 12px;
    display: inline;
    font-weight: 300;
    cursor: pointer;
}

.anchor-list{
    background-color: #f44336;
    width:100%;
    height: 40px !important;
}

.site-list{
    width: 100%;
    background-color: #343333;
    color: #e0e0e0;
    height: 40px
}

.site-hook{
    font-size: 12.5px;
    margin-right: 12px;
    margin-left: 12px;
    display: inline;
    font-weight: 300;
    cursor: pointer;
    outline: none !important;
}

.icon-hook{
    outline: none !important;
}

.site-hook:focus{
    outline: none !important;
}

.logo-container{
    height: 70px;
}

.news-input{
    width: 100%;
}

.dialog-padding{
    padding: 40px;
    overflow: hidden;
}
/* toolbar - END*/