<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="site-list">
    <div routerLink="/home" class="site-hook">Home</div>
    <div routerLink="/timeline" class="site-hook">Timeline</div>
    <div routerLink="/news/1" class="site-hook">News</div>
    <div class="site-hook">Category Page</div>
    <div class="site-hook">Contact</div>
  </mat-toolbar-row>

  <mat-toolbar-row class="logo-container">
    <div>
      <img class="logo-image float-left" src="assets/logo.png" />
      <div class="clear-both"></div>
    </div>
    <span class="toolbar-spacer"></span>
      <mat-icon *ngIf="!userService.loggedIn" routerLink="/register" class="toolbar-icon color-grey icon-hook" aria-hidden="false" aria-label="Example account icon">account_circle
    </mat-icon>
    <div *ngIf="userService.loggedIn">
      <button mat-mini-fab color="primary" (click)="logout()">
          <mat-icon mat-fab  matTooltip="Log out" color="primary" class="color-white">directions_run</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="anchor-list">
    <div class="anchor-hook">Women</div>
    <div class="anchor-hook">Technology</div>
    <div class="anchor-hook">Gallery</div>
    <div class="anchor-hook">Recipes</div>
    <div class="anchor-hook">Social Media</div>
    <div class="anchor-hook">Agriculture</div>
    <div class="anchor-hook">Astrology</div>
    <div class="anchor-hook">Automobile</div>
    <div class="anchor-hook">Matrimonial</div>
    <div class="anchor-hook">Property</div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

